{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>


 
  <br>
  <div id="log"></div>
    
    <script type="text/javascript" charset="utf-8">
    

    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        
        socket.emit('client_connected', {data: 'Connected!'});
        
    });
    
    socket.on('my_response', function(msg) {
               $('#log').append('<p>Connected to server: ' + msg.data + '</p>');
            });
            
   
    

    
    </script>


{% endblock %}
